<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.superman.supermarket.dao.AllotMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.superman.supermarket.entity.Allot">
        <id column="id" property="id" />
        <result column="in_shop_id" property="inShopId" />
        <result column="out_shop_id" property="outShopId" />
        <result column="allot_type" property="allotType" />
        <result column="allot_state" property="allotState" />
        <result column="single_state" property="singleState" />
        <result column="single_money" property="singleMoney" />
        <result column="single_date" property="singleDate" />
        <result column="allot_detail_id" property="allotDetailId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, in_shop_id, out_shop_id, allot_type, allot_state, single_state, single_money, single_date, allot_detail_id
    </sql>

</mapper>
