<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.superman.supermarket.dao.CashierDeskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.superman.supermarket.entity.CashierDesk">
        <id column="id" property="id" />
        <result column="cashier_name" property="cashierName" />
        <result column="shop_id" property="shopId" />
        <result column="cashier_state" property="cashierState" />
        <result column="createDate" property="createDate" />
        <result column="modifyDate" property="modifyDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, cashier_name, shop_id, cashier_state, createDate, modifyDate
    </sql>

</mapper>
