<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.superman.supermarket.dao.CheckDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.superman.supermarket.entity.CheckDetail">
        <id column="id" property="id" />
        <result column="ismodify" property="ismodify" />
        <result column="goods_id" property="goodsId" />
        <result column="inv_detail_id" property="invDetailId" />
        <result column="check_count" property="checkCount" />
        <result column="bep_count" property="bepCount" />
        <result column="cost_price" property="costPrice" />
        <result column="original_price" property="originalPrice" />
        <result column="check_money" property="checkMoney" />
        <result column="bep_money" property="bepMoney" />
        <result column="cause_info" property="causeInfo" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, ismodify, goods_id, inv_detail_id, check_count, bep_count, cost_price, original_price, check_money, bep_money, cause_info
    </sql>

</mapper>
