<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.superman.supermarket.dao.CustomerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.superman.supermarket.entity.Customer">
        <id column="id" property="id" />
        <result column="customer_name" property="customerName" />
        <result column="customer_linkman" property="customerLinkman" />
        <result column="customer_phone" property="customerPhone" />
        <result column="customer_email" property="customerEmail" />
        <result column="bank" property="bank" />
        <result column="bank_num" property="bankNum" />
        <result column="pro_address" property="proAddress" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, customer_name, customer_linkman, customer_phone, customer_email, bank, bank_num, pro_address
    </sql>

</mapper>
