<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.superman.supermarket.dao.InventoryDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.superman.supermarket.entity.InventoryDetail">
        <id column="id" property="id" />
        <result column="goods_id" property="goodsId" />
        <result column="goods_count" property="goodsCount" />
        <result column="store_id" property="storeId"></result>
    </resultMap>

    <!-- 库存明细Vo映射 -->
    <resultMap id="InventoryResultMap" type="com.superman.supermarket.entity.vo.InventoryDetailVo" extends="BaseResultMap">
       <association property="goods" javaType="com.superman.supermarket.entity.Goods">
           <id column="goods_id" property="id" />
           <result column="goods_name" property="goodsName" />
           <result column="goods_code" property="goodsCode" />
           <result column="price" property="price" />
           <result column="member_price" property="memberPrice" />
           <result column="whole_price" property="wholePrice" />
           <result column="cost_price" property="costPrice" />
           <result column="spec_detail_id" property="specDetailId" />
           <result column="unit_id" property="unitId" />
           <result column="goods_type_id" property="goodsTypeId" />
           <result column="provider_id" property="providerId" />
           <result column="goods_address" property="goodsAddress" />
           <result column="yield_date" property="yieldDate" />
           <result column="expiration_day" property="expirationDay" />
           <result column="expiration_date" property="expirationDate" />
       </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, goods_id, goods_count
    </sql>

    <!-- 根据商品id查询库存信息中有的商品id -->
    <select id="findGoodsIdByIds" resultType="java.lang.Integer">
        SELECT goods_id FROM `inventory_detail` WHERE store_id = #{storeId} AND goods_id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
             #{id}
         </foreach>
    </select>

    <!-- 根据仓库id和商品id查询库存明细中的商品数量 -->
    <select id="findGoodsCountById" resultType="int">
        SELECT goods_count FROM inventory_detail WHERE store_id = #{storeId}
		AND goods_id = #{goodsId}
    </select>

    <!--  根据仓库id和库存商品id修改商品库存数量-->
    <update id="updateInvByGoodsIds">
        UPDATE inventory_detail SET goods_count = #{goodsCount}
        WHERE store_id = #{storeId}
        AND goods_id = #{goodsId}
    </update>

    <!--根据小票明细同步库存明细-->
    <update id="updateInvByTicketDetailList">
        <foreach collection="detailList" item="detail">
            UPDATE inventory_detail SET goods_count=goods_count-#{detail.goodsCount} where goods_id = #{detail.goodsId};
        </foreach>
    </update>

    <!--添加商品库存明细(供应商收货添加)-->
    <insert id="insertInventoryDetailByProviderTake">
        INSERT INTO inventory_detail(goods_id,goods_count,store_id)VALUES
        <foreach collection="orderDetailMapList" item="detail" separator=",">
            (#{detail.goodsId},#{detail.goodsCount},#{detail.storeId})
        </foreach>
    </insert>

    <!--根据采购收获商品数量修改库存明细-->
    <update id="updateInventoryByOrderDetail">
        <foreach collection="orderDetailMapList" item="detail">
            UPDATE inventory_detail SET goods_count = goods_count + #{detail.goodsCount} where goods_id = #{detail.goodsId} and store_id =#{detail.store};
        </foreach>
    </update>

    <!--根据仓库id查询仓库下的商品id信息-->
    <select id="selInventoryByStoreId" resultType="InventoryDetail">
        select * from inventory_detail where store_id = #{storeId}
    </select>

    <!--根据采购退货单的商品信息修改库存明细-->
    <update id="updateInventoryByOrderDetailReturn">
        <foreach collection="orderDetailMapList" item="detail">
            UPDATE inventory_detail SET goods_count = goods_count - #{detail.goodsCount} where goods_id = #{detail.goodsId} and store_id =#{detail.storeId};
        </foreach>
    </update>

    <!--根据仓库id查询商品信息-->
    <select id="selGoodsByStoreId" resultMap="InventoryResultMap">
        SELECT ind.*,g.id goods_id,g.goods_name,g.goods_code,g.whole_price FROM inventory_detail ind
        LEFT JOIN goods g
        ON ind.goods_id = g.id
        WHERE ind.store_id = #{storeId}
    </select>
</mapper>
