<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.superman.supermarket.dao.InventoryDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.superman.supermarket.entity.InventoryDetail">
        <id column="id" property="id" />
        <result column="goods_id" property="goodsId" />
        <result column="goods_count" property="goodsCount" />
        <result column="store_id" property="storeId"></result>
    </resultMap>

    <!-- 库存明细Vo映射 -->
    <resultMap id="InventoryResultMap" type="com.superman.supermarket.entity.vo.InventoryDetailVo" extends="BaseResultMap">
       <association property="goods" javaType="com.superman.supermarket.entity.Goods">
           <id column="goods_id" property="id" />
           <result column="goods_name" property="goodsName" />
           <result column="goods_code" property="goodsCode" />
           <result column="price" property="price" />
           <result column="member_price" property="memberPrice" />
           <result column="whole_price" property="wholePrice" />
           <result column="cost_price" property="costPrice" />
           <result column="spec_detail_id" property="specDetailId" />
           <result column="unit_id" property="unitId" />
           <result column="goods_type_id" property="goodsTypeId" />
           <result column="provider_id" property="providerId" />
           <result column="goods_address" property="goodsAddress" />
           <result column="yield_date" property="yieldDate" />
           <result column="expiration_day" property="expirationDay" />
           <result column="expiration_date" property="expirationDate" />
       </association>
    </resultMap>
    <!--库存明细Vo映射-->
    <resultMap id="VoMapper" type="com.superman.supermarket.entity.vo.InventoryDetailVo" extends="BaseResultMap">
        <result column="goods_name" property="goodsName" />
        <result column="goods_code" property="goodsCode"></result>
        <result property="costPrice" column="cost_price"></result>
    </resultMap>

    <!--根据仓库id查询仓库信息、门店信息-->
    <resultMap id="InventoryDetailResultMap" type="com.superman.supermarket.entity.vo.InventoryDetailVo" extends="InventoryResultMap">
        <association property="store" javaType="com.superman.supermarket.entity.Store">
            <id column="store_id" property="id" />
            <result column="store_name" property="storeName" />
            <result column="shop_id" property="shopId" />
        </association>
        <association property="shop" javaType="com.superman.supermarket.entity.Shop">
            <id column="s_id" property="id" />
            <result column="shop_name" property="shopName" />
            <result column="shop_account" property="shopAccount" />
            <result column="shop_pwd" property="shopPwd" />
            <result column="shop_linkman" property="shopLinkman" />
            <result column="shop_phone" property="shopPhone" />
            <result column="shop_logo" property="shopLogo" />
            <result column="shop_hours" property="shopHours" />
            <result column="shop_advice" property="shopAdvice" />
            <result column="shop_address" property="shopAddress" />
            <result column="shop_type_id" property="shopTypeId" />
            <result column="createDate" property="createDate" />
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, goods_id, goods_count
    </sql>

    <!-- 根据商品id查询库存信息中有的商品id -->
    <select id="findGoodsIdByIds" resultType="java.lang.Integer">
        SELECT goods_id FROM `inventory_detail` WHERE store_id = #{storeId} AND goods_id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
             #{id}
         </foreach>
    </select>

    <!-- 根据仓库id和商品id查询库存明细中的商品数量 -->
    <select id="findGoodsCountById" resultType="int">
        SELECT goods_count FROM inventory_detail WHERE store_id = #{storeId}
		AND goods_id = #{goodsId}
    </select>

    <!--  根据仓库id和库存商品id修改商品库存数量-->
    <update id="updateInvByGoodsIds">
        UPDATE inventory_detail SET goods_count = #{goodsCount}
        WHERE store_id = #{storeId}
        AND goods_id = #{goodsId}
    </update>

    <!--根据小票明细同步库存明细-->
    <update id="updateInvByTicketDetailList">
        <foreach collection="detailList" item="detail">
            UPDATE inventory_detail SET goods_count=goods_count-#{detail.goodsCount} where goods_id = #{detail.goodsId};
        </foreach>
    </update>

    <!--添加商品库存明细(供应商收货添加)-->
    <insert id="insertInventoryDetailByProviderTake">
        INSERT INTO inventory_detail(goods_id,goods_count,store_id)VALUES
        <foreach collection="orderDetailMapList" item="detail" separator=",">
            (#{detail.goodsId},#{detail.goodsCount},#{detail.storeId})
        </foreach>
    </insert>

    <!--根据采购收获商品数量修改库存明细-->
    <update id="updateInventoryByOrderDetail">
        <foreach collection="orderDetailMapList" item="detail">
            UPDATE inventory_detail SET goods_count = goods_count + #{detail.goodsCount} where goods_id = #{detail.goodsId} and store_id =#{detail.store};
        </foreach>
    </update>

    <!--根据仓库id查询仓库下的商品id信息-->
    <select id="selInventoryByStoreId" resultType="InventoryDetail">
        select * from inventory_detail where store_id = #{storeId}
    </select>

    <!--根据采购退货单的商品信息修改库存明细-->
    <update id="updateInventoryByOrderDetailReturn">
        <foreach collection="orderDetailMapList" item="detail">
            UPDATE inventory_detail SET goods_count = goods_count - #{detail.goodsCount} where goods_id = #{detail.goodsId} and store_id =#{detail.storeId};
        </foreach>
    </update>

    <!--根据仓库id查询商品信息-->
    <select id="selGoodsByStoreId" resultMap="InventoryResultMap">
        SELECT ind.*,g.id goods_id,g.goods_name,g.goods_code,g.whole_price,g.cost_price FROM inventory_detail ind
        LEFT JOIN goods g
        ON ind.goods_id = g.id
        WHERE ind.store_id = #{storeId}
    </select>

    <!-- 根据仓库id查询出该仓库下的库存明细 -->
   <!-- <select id="findByStoreId" resultMap="BaseResultMap">
        select * from `inventory_detail`
       where store_id = #{storeId}
    </select>-->
    <!--
        根据仓库id查询出该仓库下的库存明细
        也可以根据条件查询
     -->
    <select id="findByStoreId" resultMap="VoMapper">
        SELECT invdetail.*,g.goods_name,g.goods_code FROM `inventory_detail` invdetail
      INNER JOIN goods g
      ON invdetail.goods_id = g.id
      WHERE store_id = #{storeId}
      <if test="condition != null and condition != ''">
          AND g.goods_name LIKE CONCAT('%',#{condition},'%')
          OR g.goods_code LIKE CONCAT('%',#{condition},'%')
      </if>
    </select>



    <!--*根据仓库id查询出该仓库下的库存明细-->
    <select id="selectByStoreId" resultMap="VoMapper">
        SELECT
		g.goods_name,
		g.goods_code,
		invdetail.goods_count,
		g.cost_price,
		invdetail.id,
		invdetail.goods_id
     FROM `inventory_detail` invdetail
     INNER JOIN goods g
     ON invdetail.goods_id = g.id
     WHERE invdetail.store_id = #{storeId}
    </select>

    <!--根据仓库id查询仓库、库存明细、商品、门店信息-->
    <select id="selInventoryDetailByStoreId" resultMap="InventoryDetailResultMap">
        SELECT g.id goods_id,g.goods_name,g.goods_code,ind.goods_count,st.store_name,st.id store_id,s.id s_id,s.shop_name,s.shop_linkman,s.shop_phone FROM inventory_detail ind
        LEFT JOIN store st
        ON ind.store_id = st.id
        LEFT JOIN goods g
        ON ind.goods_id = g.id
        LEFT JOIN shop s
        ON st.shop_id = s.id
        <where>
            <if test="storeId != null">
                AND ind.store_id = #{storeId}
            </if>
        </where>
    </select>


    <!--查询库存商品总数量-->
    <select id="selInventoryDetailCount" resultType="int">
        SELECT SUM(ABS(goods_count)) FROM inventory_detail WHERE store_id = #{storeId}
    </select>
</mapper>
