<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.superman.supermarket.dao.InventoryDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.superman.supermarket.entity.InventoryDetail">
        <id column="id" property="id" />
        <result column="goods_id" property="goodsId" />
        <result column="goods_count" property="goodsCount" />
        <result column="store_id" property="storeId"></result>
    </resultMap>

    <!--&lt;!&ndash; 库存明细Vo映射 &ndash;&gt;
    <resultMap id="VoMapper" type="com.superman.supermarket.entity.vo.InventoryDetailVo" extends="BaseResultMap">
        <association property="store" javaType="com.superman.supermarket.entity.Store">

        </association>
    </resultMap>-->

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, goods_id, goods_count
    </sql>

    <!-- 根据商品id查询库存信息中有的商品id -->
    <select id="findGoodsIdByIds" resultType="java.lang.Integer">
        SELECT goods_id FROM `inventory_detail` WHERE store_id = #{storeId} AND goods_id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
             #{id}
         </foreach>
    </select>

    <!-- 根据仓库id和商品id查询库存明细中的商品数量 -->
    <select id="findGoodsCountById" resultType="int">
        SELECT goods_count FROM inventory_detail WHERE store_id = #{storeId}
		AND goods_id = #{goodsId}
    </select>

    <!--  根据仓库id和库存商品id修改商品库存数量-->
    <update id="updateInvByGoodsIds">
        UPDATE inventory_detail SET goods_count = #{goodsCount}
        WHERE store_id = #{storeId}
        AND goods_id = #{goodsId}
    </update>

    <!--根据小票明细同步库存明细-->
    <update id="updateInvByTicketDetailList">
        <foreach collection="detailList" item="detail">
            UPDATE inventory_detail SET goods_count=goods_count-#{detail.goodsCount} where goods_id = #{detail.goodsId};
        </foreach>
    </update>
</mapper>
