<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.superman.supermarket.dao.LevelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.superman.supermarket.entity.Level">
        <id column="id" property="id" />
        <result column="level_name" property="levelName" />
        <result column="level_image" property="levelImage" />
        <result column="discount" property="discount" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, level_name, level_image, discount
    </sql>
    <!-- 删除会员等级 -->
    <delete id="findDeleteLeve"  parameterType="Level">
        DELETE FROM LEVEL WHERE id=#{id}
    </delete>

    <!-- 修改会员等级 -->
    <update id="findUpdateLeve" parameterType="Level">
            UPDATE  LEVEL SET discount=#{discount} WHERE id=#{id}
    </update>

    <!-- 查询所有会员等级信息 -->
    <select id="findSelectLeve" resultMap="BaseResultMap">
            SELECT * FROM `LEVEL`
    </select>

    <insert id="findinsertLeve"  parameterType="Level">
        INSERT INTO LEVEL VALUE(NULL,#{levelName},#{levelImage},#{discount})
    </insert>

    <!-- 根据等级id批量查询会员个数 -->
    <select id="findMemberCountByIds" resultType="long">
        SELECT COUNT(id) FROM member WHERE level_id IN(
        <foreach collection="ids" separator="," item="id">
            #{id}
        </foreach>
        )
    </select>

    <!-- 批量删除会员等级 -->
    <delete id="batchLevel">
         DELETE FROM`level` WHERE id IN(
        <foreach collection="ids" separator="," item="id">
            #{id}
        </foreach>
         )
    </delete>
</mapper>
