<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.superman.supermarket.dao.MemberMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.superman.supermarket.entity.Member">
        <id column="id" property="id" />
        <result column="member_name" property="memberName" />
        <result column="member_phone" property="memberPhone" />
        <result column="member_birthday" property="memberBirthday" />
        <result column="member_sex" property="memberSex" />
        <result column="shop_id" property="shopId" />
        <result column="level_id" property="levelId" />
        <result column="total_money" property="totalMoney" />
        <result column="total_sorce" property="totalSorce" />
        <result column="residue_money" property="residueMoney" />
        <result column="residue_sorce" property="residueSorce" />
        <result column="createDate" property="createDate" />
    </resultMap>

    <resultMap id="MemberResultMap" type="memberVo" extends="BaseResultMap">
        <association property="shop" javaType="com.superman.supermarket.entity.Shop">
            <id column="sId" property="id" />
            <result column="shop_name" property="shopName" />
            <result column="shop_account" property="shopAccount" />
            <result column="shop_pwd" property="shopPwd" />
            <result column="shop_linkman" property="shopLinkman" />
            <result column="shop_phone" property="shopPhone" />
            <result column="shop_logo" property="shopLogo" />
            <result column="shop_hours" property="shopHours" />
            <result column="shop_advice" property="shopAdvice" />
            <result column="shop_address" property="shopAddress" />
            <result column="shop_type_id" property="shopTypeId" />
            <result column="createDate" property="createDate" />
        </association>
        <association property="level" javaType="com.superman.supermarket.entity.Level">
            <id column="lId" property="id" />
            <result column="level_name" property="levelName" />
            <result column="level_image" property="levelImage" />
            <result column="discount" property="discount" />
        </association>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, member_name, member_phone, member_birthday, member_sex, shop_id, level_id, total_money, total_sorce, residue_money, residue_sorce, createDate
    </sql>

    <!--查询所有会员信息、按条件查询会员信息-->
    <select id="findAllMember" resultMap="MemberResultMap" parameterType="memberVo">
        SELECT s.id sId,s.shop_name,m.*,l.id lId,l.level_name,l.level_image FROM member m
        LEFT JOIN shop s
        ON m.shop_id = s.id
        LEFT JOIN `level` l
        ON m.level_id = l.id
        <where>
            <if test="shopId != null">
                and m.shop_id = #{shopId}
            </if>
            <if test="levelId != null">
                AND m.level_id = #{levelId}
            </if>
            <if test="memberSex != null and memberSex != ''">
                AND m.member_sex = #{memberSex}
            </if>
            <if test="id != null and id != ''">
                and m.id = #{id}
            </if>
            <if test="condition != null and condition != ''">
                AND m.member_phone LIKE concat('%',#{condition},'%')  OR m.member_name LIKE concat('%',#{condition},'%')
            </if>
        </where>
    </select>
    <!--添加会员-->
    <insert id="addMember">
        INSERT INTO member (member_name,member_phone,member_birthday,member_sex,shop_id,level_id)
        VALUE(#{memberName},#{memberPhone},#{memberBirthday},#{memberSex},#{shopId},#{levelId})
    </insert>
    <!--删除会员-->
    <delete id="deleteMember">
        DELETE FROM member WHERE id in (
            <foreach collection="ids" item="id" separator=",">
                #{id}
            </foreach>
        )
    </delete>
    <!--修改会员信息-->
    <update id="updateMember" parameterType="member">
        UPDATE member
        <set>
            <if test="memberName != null and memberName != ''">
                member_name = #{memberName},
            </if>
            <if test="memberBirthday != null and memberBirthday != ''">
                member_birthday = #{memberBirthday},
            </if>
            <if test="memberSex != null and memberSex != ''">
                member_sex = #{memberSex},
            </if>
            <if test="levelId != null">
                level_id=#{levelId}
            </if>
        </set>
        where id = #{id}
    </update>
    <!--批量修改会员所属会员卡-->
    <update id="batchUpdateMemberLevel">
        UPDATE member SET level_id = #{levelId} where id in (
            <foreach collection="ids" item="id" separator=",">
                #{id}
            </foreach>
        )
    </update>
    <!--批量修改会员积分-->
    <update id="batchUpdateSorce">
        UPDATE member SET
            <if test="totalSorce > 0">
                total_sorce = total_sorce + #{totalSorce},
            </if>
                residue_sorce = residue_sorce + #{totalSorce}
        where id in (
            <foreach collection="ids" item="id" separator=",">
                #{id}
            </foreach>
        )
    </update>
    <!--根据会员手机号查询会员信息-->
    <select id="findMemberByMemberPhone" parameterType="string" resultType="member">
        SELECT * FROM member
        <where>
            <if test="memberPhone != null and memberPhone !=''">
               and member_phone = #{memberPhone}
            </if>
            <if test="shopId != null">
               and shop_id =#{shopId}
            </if>
        </where>
    </select>

    <select id="selMemberAndLevelByShopIdAndMemberPhone" resultMap="MemberResultMap">
        SELECT m.*,l.id lId,l.level_name,l.level_image,l.discount FROM member m
        LEFT JOIN `level` l
        ON m.level_id = l.id
        <where>
            <if test="memberPhone != null and memberPhone !=''">
                and m.member_phone = #{memberPhone}
            </if>
            <if test="shopId != null">
                and m.shop_id =#{shopId}
            </if>
        </where>
    </select>
</mapper>
