<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.superman.supermarket.dao.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.superman.supermarket.entity.Order">
        <id column="id" property="id" />
        <result column="shop_id" property="shopId" />
        <result column="place_order_date" property="placeOrderDate" />
        <result column="ready_date" property="readyDate" />
        <result column="emp_id" property="empId" />
        <result column="odetail_id" property="odetailId" />
        <result column="single_state" property="singleState" />
        <result column="take_state" property="takeState" />
    </resultMap>

   <resultMap id="orderResultMap" type="com.superman.supermarket.entity.vo.OrderVo" extends="BaseResultMap">
       <!--一对一、一个订单对应一个门店-->
       <association property="shop" javaType="com.superman.supermarket.entity.Shop">
           <id column="s_id" property="id" />
           <result column="shop_name" property="shopName" />
           <result column="shop_account" property="shopAccount" />
           <result column="shop_pwd" property="shopPwd" />
           <result column="shop_linkman" property="shopLinkman" />
           <result column="shop_phone" property="shopPhone" />
           <result column="shop_logo" property="shopLogo" />
           <result column="shop_hours" property="shopHours" />
           <result column="shop_advice" property="shopAdvice" />
           <result column="shop_address" property="shopAddress" />
           <result column="shop_type_id" property="shopTypeId" />
           <result column="createDate" property="createDate" />
       </association>
       <!--一对一、一个订单对应一个收货人(员工)-->
        <association property="employee" javaType="com.superman.supermarket.entity.Employee">
            <id column="emp_id" property="id" />
            <result column="emp_account" property="empAccount" />
            <result column="emp_pwd" property="empPwd" />
            <result column="emp_name" property="empName" />
            <result column="emp_status" property="empStatus" />
            <result column="emp_phone" property="empPhone" />
            <result column="createDate" property="createDate" />
            <result column="shop_id" property="shopId" />
        </association>
         <!--一对一、一个订单对应一个供应商-->
        <association property="provider" javaType="com.superman.supermarket.entity.Provider">
            <id column="pro_id" property="id" />
            <result column="pro_name" property="proName" />
            <result column="pro_linkman" property="proLinkman" />
            <result column="pro_phone" property="proPhone" />
            <result column="pro_email" property="proEmail" />
            <result column="bank" property="bank" />
            <result column="bank_num" property="bankNum" />
            <result column="pro_address" property="proAddress" />
            <result column="should_money" property="shouldMoney" />
            <result column="pro_status" property="proStatus" />
            <result column="ready_money" property="readyMoney" />
            <result column="createDate" property="createDate" />
        </association>
        <collection property="orderDetailVoList" ofType="com.superman.supermarket.entity.vo.OrderDetailVo" resultMap="com.superman.supermarket.dao.OrderDetailMapper.orderDetailResultMap"></collection>
</resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, shop_id, place_order_date, ready_date, emp_id, odetail_id, single_state, take_state
    </sql>

    <!--查询所有采购订单-->
    <select id="findAllOrderOrCondition" resultMap="orderResultMap" parameterType="OrderVo">
            SELECT * FROM `order` o
            LEFT JOIN shop s
            ON o.`shop_id` = s.`id`
            LEFT JOIN provider p
            ON o.`pro_id` = p.`id`
            LEFT JOIN employee e
            ON o.`emp_id` = e.`id`
        <where>
            <!--开始到结束日期查询-->
            <if test="beginDate != null and beginDate != ''">
                AND o.`place_order_date` &gt;= #{beginDate}
            </if>
            <if test="endDate != null and endDate != ''">
                AND o.`place_order_date` &lt;= #{endDate}
            </if>
            <if test="condition != null and condition != ''">
                AND o.id = #{condition}
                OR s.shop_name LIKE CONCAT('%',#{condition},'%')
                OR p.pro_name LIKE CONCAT('%',#{condition},'%')
                OR e.emp_name = #{condition}
                OR e.emp_phone = #{condition}
            </if>
            <if test="takeState != null and takeState != ''">
                 AND o.take_state = #{takeState}<!--(0:待收货,1:已退货,2:已收货)-->
            </if>
        </where>
    </select>

    <!--1.生成采购订单表 shop_id 默认为当前登陆的门店id,emp_id 为当前登陆的emp id-->
    <insert id="addOrder" parameterType="orderVo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `order`(pro_id,shop_id,place_order_date,ready_date,emp_id,single_state,take_state)
        VALUE (#{proId},#{shopId},#{placeOrderDate},#{readyDate},#{singleState},0,0)
    </insert>

    <!--2.选择商品后，生成采购订单明细表 order_id 为上边生成的订单表的id,-->
    <insert id="addOrderDetail">
        INSERT INTO order_detail (goods_id,goods_count,total_money,order_id,order_type)
        VALUES
        <foreach collection="ids" item="item" separator=",">
                (#{goodsId},#{goodsCount},#{totalMoney},#{orderId},0);
        </foreach>
    </insert>

    <!--修改采购订单的单据状态(0:待审核,1:已审核,)-->
    <update id="updateOrderSingleState">
        UPDATE `order` SET single_state = 1 WHERE id = #{id}
    </update>

    <!--删除采购订单-->
    <delete id="deleteOrder">
        DELETE FROM order_detail WHERE order_id = #{id}
        DELETE FROM `order` WHERE id = #{id}
    </delete>
    
    <!--修改收获状态-->
    <update id="updateTakeState">
         UPDATE `order` SET take_state = 2 WHERE id = #{id}
    </update>
</mapper>
