<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.superman.supermarket.dao.ProviderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.superman.supermarket.entity.Provider">
        <id column="id" property="id" />
        <result column="pro_name" property="proName" />
        <result column="pro_linkman" property="proLinkman" />
        <result column="pro_phone" property="proPhone" />
        <result column="pro_email" property="proEmail" />
        <result column="bank" property="bank" />
        <result column="bank_num" property="bankNum" />
        <result column="pro_address" property="proAddress" />
        <result column="should_money" property="shouldMoney" />
        <result column="pro_status" property="proStatus" />
        <result column="ready_money" property="readyMoney" />
        <result column="createDate" property="createDate" />
    </resultMap>

    <!--一个供应商对应多个门店、一个门店对应多个供应商-->
    <resultMap id="providerResultMap" type="com.superman.supermarket.entity.vo.ProviderVo" extends="BaseResultMap">
        <collection property="shopList" ofType="shop" resultMap="com.superman.supermarket.dao.ShopMapper.BaseResultMap2"></collection>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pro_name, pro_linkman, pro_phone, pro_email, bank, bank_num, pro_address, should_money, pro_status, ready_money, createDate
    </sql>


    <!-- 查询全部供应商 -->
    <select id="findSelectProvider" resultMap="providerResultMap">
        SELECT p.*,s.id s_id,s.shop_name FROM provider p
        LEFT JOIN pro_shop_relation psr
        ON p.id = psr.pro_id
        LEFT JOIN shop s
        ON psr.shop_id = s.id
        <where>
            <if test="condition != null and condition != ''">
                and p.pro_name LIKE CONCAT('%',#{condition},'%')
                or p.pro_linkman =#{condition}
                or p.pro_phone = #{proPhone}
                or p.pro_address LIKE CONCAT('%',#{condition},'%')
            </if>
            <if test="proName != null and proName != ''">
                and p.pro_name LIKE CONCAT('%',#{proName},'%')
            </if>
            <if test="proLinkman != null and proLinkman != ''">
                AND p.pro_linkman =#{proLinkman}
            </if>
            <if test="proPhone != null and proPhone != ''">
                AND p.pro_phone = #{proPhone}
            </if>
            <if test="proAddress != null and proAddress != ''">
                AND p.pro_address LIKE CONCAT('%',#{proAddress},'%')
            </if>
            <!--根据供应商状态(正常)查询所有供应商信息-->
            <if test="proStatus != null and proStatus != ''">
                AND p.pro_status =#{proStatus}
            </if>
            <if test="shopId != null ">
                AND psr.shop_id =#{shopId}
            </if>
            <if test="id != null ">
                and p.id =#{id}
            </if>
        </where>
    </select>

    <!-- 新增供货商、并返回id -->
    <insert id="findInsertProvider"  parameterType="Provider" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO provider(pro_name,pro_linkman,pro_phone,pro_email,bank,bank_num,pro_address,pro_status,createDate)
        VALUE(#{proName},#{proLinkman},#{proPhone},#{proEmail},#{bank},#{bankNum},#{proAddress},0,now())
    </insert>

    <!--修改供应商-->
    <update id="updateProvider">
        UPDATE provider
        <set>
            <if test="proName != null and proName !=''">
                pro_name = #{proName},
            </if>
            <if test="proLinkman != null and proLinkman !=''">
                pro_linkman = #{proLinkman},
            </if>
            <if test="proPhone != null and proPhone !=''">
                pro_phone = #{proPhone},
            </if>
            <if test="proEmail != null and proEmail !=''">
                pro_email = #{proEmail},
            </if>
            <if test="bank != null and bank !=''">
                bank = #{bank},
            </if>
            <if test="bankNum != null and bankNum !=''">
                bank_num = #{bankNum},
            </if>
            <if test="proAddress != null and proAddress !=''">
                pro_address = #{proAddress},
            </if>
            <if test="proStatus != null and proStatus !=''">
                pro_status = #{proStatus},
            </if>
        </set>
        WHERE id = #{id}
    </update>
    <!--删除供应商-->
    <delete id="deleteProvider">
        DELETE FROM pro_shop_relation WHERE pro_id IN(
        <foreach collection="ids" item="item" separator=",">#{item}</foreach>
        );
        DELETE FROM provider WHERE id IN (
        <foreach collection="ids" item="item" separator=",">#{item}</foreach>
        );
    </delete>
    <!--批量修改供应商状态-->
    <update id="updateProStatus">
        UPDATE provider set pro_status = #{proStatus} WHERE id IN (
            <foreach collection="ids" item="item" separator=",">#{item}</foreach>
        )
    </update>

    <!--根据供应商名称查询该门店下的供应商信息-->
    <select id="selProviderByProNameAndShopId" resultMap="providerResultMap">
        SELECT * FROM provider p
        LEFT JOIN pro_shop_relation psr
        ON p.id = psr.pro_id
        LEFT JOIN shop s
        ON psr.shop_id = s.id
        <where>
            <if test="proName != null and proName != ''">
                and p.pro_name =#{proName}
            </if>
           <if test="shopId != null">
               and s.id = #{shopId}
           </if>
        </where>
    </select>
</mapper>
