<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.superman.supermarket.dao.ShopMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.superman.supermarket.entity.Shop">
        <id column="id" property="id" />
        <result column="shop_name" property="shopName" />
        <result column="shop_account" property="shopAccount" />
        <result column="shop_pwd" property="shopPwd" />
        <result column="shop_linkman" property="shopLinkman" />
        <result column="shop_phone" property="shopPhone" />
        <result column="shop_logo" property="shopLogo" />
        <result column="shop_hours" property="shopHours" />
        <result column="shop_advice" property="shopAdvice" />
        <result column="shop_address" property="shopAddress" />
        <result column="shop_type_id" property="shopTypeId" />
        <result column="createDate" property="createDate" />
    </resultMap>
    <!--一对一关联map：一个门店对应一个门店类别-->
    <resultMap id="shopMap" type="com.superman.supermarket.entity.vo.ShopVO" extends="BaseResultMap">
        <association property="shopType" javaType="com.superman.supermarket.entity.ShopType">
            <id column="stId" property="id" />
            <result column="shop_type_name" property="shopTypeName" />
            <result column="type_cDate" property="createDate" />
        </association>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, shop_name, shop_account, shop_pwd, shop_linkman, shop_phone, shop_logo, shop_hours, shop_advice, shop_address, shop_type_id, createDate
    </sql>

    <select id="getShopInfoByCondition" resultMap="shopMap">
        SELECT * FROM shop s
        INNER JOIN shop_type st
        ON s.`shop_type_id` = st.`id`
<!--        <where>-->
<!--            <if test="shopVo.shopName != null and shopVo.shopName != ''">-->
<!--                AND s.`shop_name` LIKE contat('%',#{shopVo.shopName},'%')-->
<!--            </if>-->
<!--            <if test="shopVo.shopAccount != null and shopVo.shopAccount != ''">-->
<!--                AND s.`shop_account` = #{shopVo.shopAccount}-->
<!--            </if>-->
<!--           &lt;!&ndash; <if test="shopVo.createDate != null and shopVo.createDate != ''">-->
<!--                and s.`createDate` &gt; #{terminationDate}-->
<!--            </if>&ndash;&gt;-->
<!--            <if test="shopVo.shopTypeId != null and shopVo.shopTypeId != ''">-->
<!--                and st.`stId` = #{stid}-->
<!--            </if>-->
<!--        </where>-->
    </select>
</mapper>
