<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.superman.supermarket.dao.SpecTmpMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.superman.supermarket.entity.SpecTmp">
        <id column="id" property="id" />
        <result column="spec_tmp_name" property="specTmpName" />
    </resultMap>
    <!--配置一对多关系、引用SpecDetailResultMap-->
    <resultMap id="SpecTmpResultMap" type="com.superman.supermarket.entity.SpecTmp" extends="BaseResultMap">
        <collection property="specList" ofType="com.superman.supermarket.entity.Spec" resultMap="com.superman.supermarket.dao.SpecMapper.SpecDetailResultMap"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, spec_detail_name
    </sql>


    <!--查询规格模板-->
    <select id="findSpecTmpAndSpec" resultType="specTmp" parameterType="String">
        SELECT st.`id`,st.`spec_tmp_name`,COUNT(s.spec_tmp_id) sCount
        FROM spec_tmp st
        LEFT JOIN spec s
        ON st.`id` = s.spec_tmp_id
        <where>
            <if test="condition != null and condition != ''">
                AND st.`spec_tmp_name` LIKE concat('%',#{condition},'%')
            </if>
        </where>
        GROUP BY st.`id`
    </select>

    <!--添加规格模板-->
    <insert id="addSpecTmpInfo" parameterType="specTmp" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO spec_tmp VALUE(NULL,#{specTmpName})
    </insert>
    <!--添加规格-->
    <insert id="addSpecInfo" parameterType="string">
        INSERT INTO spec(spec_name,spec_tmp_id) VALUES
        <foreach collection="spec" item="item" separator=",">
            (#{item.specName},#{item.specTmpId})
        </foreach>
    </insert>
    <!--删除规格模板-->
    <delete id="delSpecTmpInfo">
        DELETE FROM spec_detail WHERE spec_id IN (SELECT id FROM spec WHERE spec_tmp_id IN (
            <foreach collection="ids" item="item" separator=",">#{item}</foreach>
        ));
        DELETE FROM spec WHERE spec_tmp_id IN (
            <foreach collection="ids" item="item" separator=",">#{item}</foreach>
        );
        DELETE FROM spec_tmp WHERE id IN (
            <foreach collection="ids" item="item" separator=",">#{item}</foreach>
        );
    </delete>
    <!--修改规格模板-->
    <update id="updateSpecTmpInfo" parameterType="specTmp">
        UPDATE spec_tmp
        <set>
            <if test="specTmpName != null and specTmpName != ''">
                spec_tmp_name = #{specTmpName}
            </if>
        </set>
        where id = #{id}
    </update>

    <!--根据模板id，查询除所有的规格，和规格下的规格详情-->
    <select id="getSpecAndSpecDetailBySpecTmpId" parameterType="int" resultMap="SpecTmpResultMap">
            SELECT st.*,s.id s_id,s.spec_name,s.spec_tmp_id,sd.id sd_id,sd.`spec_detail_name`,sd.`spec_id`
            FROM spec_tmp st
            LEFT JOIN spec s
            ON st.id = s.spec_tmp_id
            LEFT JOIN spec_detail sd
            ON s.id = sd.`spec_id`
            WHERE st.id  in (
            <foreach collection="ids" item="id" separator=",">
                #{id}
            </foreach>
            )
    </select>

    <!--查询所有规格模板、规格、规格详情-->
    <select id="selectSpecTmpAndSpecAndSpecDetail" resultMap="SpecTmpResultMap">
        SELECT sd.id sd_id,sd.`spec_detail_name`,s.`spec_name`,st.`spec_tmp_name` FROM spec_detail sd
        INNER JOIN spec s
        ON sd.`spec_id` = s.`id`
        INNER JOIN spec_tmp st
        ON s.`spec_tmp_id` = st.`id`
    </select>

    <!--查询规格模板-->
    <select id="selectSpecTmpByName" resultType="SpecTmp">
         SELECT * FROM spec_tmp WHERE spec_tmp_name = #{specTmpName}
    </select>
</mapper>
