<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.superman.supermarket.dao.EmployeeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.superman.supermarket.entity.Employee">
        <id column="id" property="id" />
        <result column="emp_account" property="empAccount" />
        <result column="emp_pwd" property="empPwd" />
        <result column="emp_name" property="empName" />
        <result column="role_id" property="roleId" />
        <result column="emp_status" property="empStatus" />
        <result column="emp_phone" property="empPhone" />
        <result column="createDate" property="createDate" />
        <result column="shop_id" property="shopId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, emp_account, emp_pwd, emp_name, role_id, emp_status, emp_phone, createDate, shop_id
    </sql>

</mapper>
