<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.superman.supermarket.dao.OperInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.superman.supermarket.entity.OperInfo">
        <id column="id" property="id" />
        <result column="oper_date" property="operDate" />
        <result column="remark" property="remark" />
        <result column="oper_state" property="operState" />
        <result column="emp_id" property="empId" />
        <result column="oper_model_id" property="operModelId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, oper_date, remark, oper_state, emp_id, oper_model_id
    </sql>

</mapper>
